language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - 'node'
  - '6'
  - '4'
before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get -qq update
  - sudo apt-get -qq install g++-4.8
env:
  - CXX=g++-4.8
after_success:
  - test $TRAVIS_BRANCH = "master" \
    && npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
matrix:
  allow_failures:
  - env: TRAVIS_BRANCH!=master
    after_success: npm run semantic-release
